.clear { clear: both; } 
.a { background-color: #111111; } 
.t { padding: 10px 10px 20px 10px; border: 5px solid #551111; margin: 25px 25px 0px 25px; color: #999999; background-color: #111111; min-width: 30em; } 
input { font-weight: bold; width:4em; background-color: #A01010; padding: 2px 2px; }
.b { padding: 10px; border-left: 5px solid #551111; border-right: 5px solid #551111; border-bottom: 5px solid #551111; margin: 0px 25px 25px 25px; color: #999999;background-color: #111111; min-width: 30em; } 
select { width:4em; font-weight: bold; background-color: #A01010; padding: 2px 2px; } 
  .c { color: #A01010; font-weight: bold; }
h1 { text-align: right; } 
a:hover, 
a:active { background-color: red; } 
 .y { color: #FFFF00; font-weight: bold; }
a:link, 
a:visited { background-color: #332222; color: #a07070; border:1px solid red; padding: 5px 10px; margin: none; text-align: center; text-decoration: none; display: inline-block; }
button { background-color: #A01010; font-weight: bold; border-radius: 5px; margin: 2px; padding: 4px 8px; }
 .b1 { float: left; border: 2px solid #551111; background-color: #181818; text-align: center; margin: 5px; padding: 15px; padding-top: 3px; }
 .gb {  font-weight: bold; font-size: 150%; font-family: 'Times New Roman', Times, serif; width: 60px; height: 50px; padding: 0px; }
 .bb {  font-weight: bold; font-size: 105%; } 
 .bbh {  font-weight: bold; font-size: 100%; height: 2.1em; }


